.big-image {
  height: 500px;
  /* width:  100%; */
  background-image: url("http://autocleanexpress.com.au/images/slider-01.jpg");
}

.text-style {
  color: black;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.plan-style {
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 15px 30px;
}

.main-style {
  max-width: 70em;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 35em;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 3% 6% 3% 6%;
  border: 2px solid transparent;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;

}
.card-p {
  margin: 10px;
  margin-bottom: 25px;
}

.card-field {
  width: 100%;
  margin-bottom: 10px;
}

.card2 {
  display: flex;
  width: 100%;
  margin-bottom: 10px;

  /* margin: auto; */
}

.card-field2 {
  width: 100%;
  /* max-width: 13em; */
  /* margin-right: 5px; */
}

.plan {
  height: 150px;
  border: 3px solid transparent;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.plan:hover {
  border: 3px solid #a6e7c2;
  cursor: pointer;
}
